version: "3.8"

services:
  # 1. Corretor MQTT (Broker Mosquitto)
  mqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt
    command: mosquitto -c /mosquitto/config/mosquitto.conf
    volumes:
      - ./infra/mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - "1883:1883"
    restart: unless-stopped
    networks:
      - gp_network

 
  mongo1:
    image: mongo:6
    container_name: mongo1
    restart: always
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--keyFile", "/etc/mongo/keyfile"]
    volumes:
      - ./infra/mongo/data1:/data/db
      - ./infra/mongo/keyfile:/etc/mongo/keyfile:ro
      - ./infra/mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - gp_network
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 3s
      retries: 5

  mongo2:
    image: mongo:6
    container_name: mongo2
    restart: always
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--keyFile", "/etc/mongo/keyfile"]
    volumes:
      - ./infra/mongo/data2:/data/db
      - ./infra/mongo/keyfile:/etc/mongo/keyfile:ro
    networks:
      - gp_network
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 3s
      retries: 5
    depends_on:
      - mongo1

  mongo3:
    image: mongo:6
    container_name: mongo3
    restart: always
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--keyFile", "/etc/mongo/keyfile"]
    volumes:
      - ./infra/mongo/data3:/data/db
      - ./infra/mongo/keyfile:/etc/mongo/keyfile:ro
    networks:
      - gp_network
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 3s
      retries: 5
    depends_on:
      - mongo2

  # 3. Inicializador do Replica Set
  mongo_rs_init:
    image: mongo:6
    container_name: mongo_rs_init
    volumes:
      - ./infra/mongo/rs-init.js:/scripts/rs-init.js:ro
    entrypoint: [ "mongosh", "--host", "mongo1:27017", "--file", "/scripts/rs-init.js" ]
    networks:
      - gp_network
    depends_on:
      mongo1: { condition: service_healthy }
      mongo2: { condition: service_healthy }
      mongo3: { condition: service_healthy }

  # 4. Servidor SSACP (Será escalado para 3 instâncias)
  ssacp:
    build:
      context: .. 
      dockerfile: ./apps/ssacp_server/Dockerfile
    container_name: ssacp_$([ -z "$COMPOSE_PROJECT_NAME" ] && echo "$COMPOSE_PROJECT_NAME" || echo "gp_f1")-$$SERVICE_NAME-$$CONTAINER_NUMBER
    expose:
      - "18861"
    environment:
      MONGO_URI: mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0
    networks:
      - gp_network
    depends_on:
      - mongo_rs_init 

  # 5. Servidor SSVCP (1 instância)
  ssvcp:
    build:
      context: ..
      dockerfile: ./apps/ssvcp_server/Dockerfile
    container_name: ssvcp
    ports:
      - "8080:5000"
    environment:
      MONGO_URI: mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0
    networks:
      - gp_network
    depends_on:
      - mongo_rs_init 

  # 6. Nós ISCCP (Será escalado para 15 instâncias)
  isccp:
    build:
      context: ..
      dockerfile: ./apps/sccp/Dockerfile
    container_name: isccp_$([ -z "$COMPOSE_PROJECT_NAME" ] && echo "$COMPOSE_PROJECT_NAME" || echo "gp_f1")-$$SERVICE_NAME-$$CONTAINER_NUMBER
    environment:
      ISCCP_ID: $CONTAINER_NUMBER
    networks:
      - gp_network
    depends_on:
      - mqtt
      - ssacp:
        condition: service_started

  # 7. Publicadores Carro (Será escalado para 24 instâncias)
  car:
    build:
      context: ..
      dockerfile: ./apps/cars/Dockerfile
    container_name: car_$([ -z "$COMPOSE_PROJECT_NAME" ] && echo "$COMPOSE_PROJECT_NAME" || echo "gp_f1")-$$SERVICE_NAME-$$CONTAINER_NUMBER
    environment:
      CAR_ID: $CONTAINER_NUMBER
    networks:
      - gp_network
    depends_on:
      - mqtt
      - isccp 

networks:
  gp_network:
    driver: bridge